.footer {
    background: #530c8d96;
    padding: 10px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .rows {
    width: 100%;
    margin: 0.5% 0%;
    padding: 0.6% 0%;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}

.icon {
    margin: 0px 15px;
}

.footer .rows a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.footer .rows a:hover {
    color: #fff;
}

.footer .rows ul {
    width: 100%;
}

.footer .rows ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .rows a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .rows ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .rows a i {
        margin: 0% 3%;
    }
}